<div class="bottom50">
  <div class="input-group">
    <span class="input-group-addon">
      <span ng-class="busy ? 'glyphicon glyphicon-hourglass' : 'glyphicon glyphicon-search'"></span>
    </span>

    <input type="search" ng-model="query" ng-keypress="keypress($event)" placeholder="Pesquise..." class="form-control">
  </div>

  <div ng-show="!busy && searched" class="pull-right">
    <small>{{hits.total}} documentos em {{elapsedTime}}s</small>
  </div>
</div>

<div ng-repeat="result in hits.hits" class="panel panel-default">
  <div class="panel-heading">
    {{result.fields.date[0] | date:'MM/dd/yyyy'}}
    <div class="pull-right">{{ sessions[result.fields.session[0]].session  }} |
      {{ sessions[result.fields.session[0]].journal }}
    </div>
  </div>
  <div class="panel-body">
    <a ng-href="#/documento/{{result.fields.id[0]}}" class="btn btn-primary btn-md pull-right">
      <span class="glyphicon glyphicon-circle-arrow-right"/>
    </a>

    <p ng-bind-html="renderHtml(result.highlight.content[0])"></p>
  </div>
</div>
</span>
